{
  "auth_uri": "https://{{YooniKServerDomain}}/oauth/authorize",
  "client_id": "{{yourClientId}}",
  "client_secret": "{{yourClientSecret}}",
  "token_uri": "https://{{YooniKServerDomain}}/oauth/token",
  "userinfo_uri": "https://{{YooniKServerDomain}}/oauth/userinfo"
}
