{% extends "template.html" %}

{% block content %}
<h2>YooniK Passwordless Login in Flask</h2>

{% if current_user.is_authenticated %}
<div>
    <p>Welcome back!</p>
    <p>You have successfully authenticated using YooniK SSO, and you have been redirected back to this application.</p>
    <p>Visit the <a href="{{ url_for('profile') }}">My Profile</a> page in this application to view the information
        retrieved with your OIDC Access Token.</p>
</div>
{% else %}
<div>
    <p>Hello!</p>
    <p>If you're viewing this page then you have successfully configured and started this example server.</p>
    <p>This example shows you how to add <a href="https://www.yoonik.me" target="_blank">YooniK</a> SSO to your Flask application.</p>
    <p>When you click the login button below, you will be redirected to the YooniK login page. After you authenticate with YooniK, you will be returned to this application.</p>
</div>

<form method="get" action="login">
    <button id="login-button" class="btn btn-primary" type="submit">Login</button>
</form>
<form method="get" action="login">
    <input type="hidden" name="vc" value="true" />
    <button id="login-vc-button" class="btn btn-primary" type="submit">Login with Verifiable Credential</button>
</form>
{% endif %}
{% endblock content %}
